<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ホーム画面</title>
  <link href="/css/commons.css" rel="stylesheet">
  <link href="/css/commons2.css" rel="stylesheet">
</head>
<body>


<th:block th:insert="/common/header"></th:block>

<h1 class="text-center">以下から選択してください</h1>

<h2 class="line text-center">
  <a href ="/salesInputIndex" style="color: black;">売上報告</a>
  <a href ="/salesDisplayIndex" style="color: black;">売上確認</a>
  <a href ="/salesLineBar" style="color: black;">グラフ</a>
</h2>

</body>
</html>