<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>一覧表示</title>
  <link href="/css/commons.css" rel="stylesheet">
  <link href="/css/commons2.css" rel="stylesheet">
  <script src="/js/function.js"></script>
</head>
<body>


<th:block th:insert="/common/header"></th:block>

<h1 class="text-center">売上詳細</h1>
<table border="1" id="table">
  <thead>
  <tr>
    <th>日付</th>
    <th>取引先</th>
    <th>商品</th>
    <th>費用</th>
    <th>売上</th>
    <th>利益</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="sales : ${salesList}">
    <td th:text="${sales.getDate}" ></td>
    <td th:text="${sales.getCustomerName}" ></td>
    <td th:text="${sales.getProduct}" ></td>
    <td th:text="${sales.getCost}"></td>
    <td th:text="${sales.getPrice}" ></td>
    <td th:text="${sales.getPrice - sales.getCost}"></td>
  </tr>
  </tbody>

</table>

<h2 class="text-center">
  <a th:href="@{/salesUpdateIndex/{id}(id=${salesId})}" style="color: black;">更新　</a>
  <a onclick="confirmation('delete','削除')" style="color: black;">削除　</a>
  <a href ="/salesDisplayIndex" style="color: black;">戻る</a>
</h2>

<script src="/js/salesDelete.js"></script>
</body>
</html>